<!-- Search Bar | Pokemons -->
<form>
  <input type="text" #input (keyup)="onInput($event)" placeholder="Procurar Pokemon..."/>
  <img src="assets/search.svg" alt="Procurar Pokemon"/>
</form>


<section class="pokelist fadeIn">
  <ng-template ngFor let-pokemon [ngForOf]="allPokemons">
    <a [routerLink]="['info', pokemon.id]" class="pokemon" *ngIf="pokemon.id">
  
      <section class="pokemon__info">
        <h2>{{ pokemon.name }}</h2>
        <h4>#{{ pokemon.id }}</h4>
    
        <ul>
          <li *ngFor="let value of pokemon.types">
            {{ value }}
          </li>
        </ul>
      </section>
    
      <section class="pokemon__image">
        <span [id]="pokemon.types[0]"></span>
        <img [src]="pokemon.image" [alt]="pokemon.name">
      </section>
    
    </a>
  </ng-template>
</section>

<section class="loadMore" (click)="loadMore()">
  <img src="assets/more.svg" width="32px" alt="Carregar Mais Pokemons" />
  <p>Carregar Mais Pokemons</p>
</section>