<!-- Search Bar | Pokemons -->
<app-search (searchEmitter)="getSearchValue($event)"></app-search>

<section class="pokelist fadeIn">
  <ng-template ngFor let-pokemon [ngForOf]="allPokemons">
    <a [routerLink]="['info', pokemon.id]" class="pokemon" *ngIf="pokemon.id">
  
      <section class="pokemon__info">
        <h2>{{ pokemon.name }}</h2>
        <h4>#{{ pokemon.id }}</h4>
    
        <ul>
          <li *ngFor="let value of pokemon.types">
            {{ value }}
          </li>
        </ul>
      </section>
    
      <section class="pokemon__image">
        <span [id]="pokemon.types[0]"></span>
        <img [src]="pokemon.image" [alt]="pokemon.name">
      </section>
    
    </a>
  </ng-template>
</section>