.btn {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	padding: 1.2rem 0;
	border-radius: .75rem;

	cursor: pointer;
	text-decoration: none;

	&__primary {
		color: var(--white);
		background: var(--primary-color);
	}

	&__secondary {
		color: var(--white);
		background: var(--secondary-color);
	}
	&__tertiary {
		color: var(--white);
		background: var(--tertiary-color);
	}
}

html::-webkit-scrollbar {
  display: none;
}