:root {

  // ----- Colors used in the project -----
  --white: #fff;
  --grey: #ececec;
  --primary-color: #232531;
  --secondary-color: #ff4e6e;
  --tertiary-color: #3366cc;
  // --------------------------------------

}