:root {

  // ----- Colors used in the project -----
  --white: #fff;
  --grey: #ececec;
  --primary-color: #262835;
  --secondary-color: #ff5473;
  // --------------------------------------

}