<div class="container">
  <!-- Custom class name to choose the animation (and the result of the dice) -->
  <div [class]="diceClassName">
    <div class="one">
      <span></span>
    </div>
    <div class="two">
      <span></span>
      <span></span>
    </div>
    <div class="three">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="four">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="five">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="six">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>