:host {

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 1.16rem;
    background-color: rgba($color: #fff, $alpha: 0.2);
    border-radius: 0.6rem;

    width: 100%;
    max-width: 34rem;

    input {
      width: 95%;
      background: none;
      border: none;

      font-size: 1rem;
      color: var(--white);

      &::placeholder {
        color: rgba($color: #fff, $alpha: 0.6);
      }
    }

    img {
      cursor: pointer;
    }
  }
}